html {
	width: 100%;
}

.large-link {
}

td.no-padding {
	padding: 0px ! important;
}

.repo-name {
		text-align: center;
}

.container {
		max-width: 96%;
}

td, th {
	text-align: center;
}

td.left, th.left {
	text-align: left;
}

th {
}

th.left {
	text-align: center;
}

thead tr:nth-of-type(1){
	background-color: #FF6B59;
	color: #f5deb3;
	font-weight: 900;
	padding: 0.5rem !important;
}


thead tr:nth-of-type(2){
	background-color: #e6e5ea;
	width: 165px;
	color: #528290;
}

.failure {
		vertical-align: middle;
		font-weight: bold;
		font-size: 1.7em;
		color: indianred;
}

.success {
	color: #5BFFAE;
	vertical-align: middle;
	font-weight: bold;
	font-size: 2.2em;
}

.flex-wrapper { display: flex; }
.flex-wrapper a { display: inline-flex; }

.separator {
	color: #83a5af;
	margin: 0 0.2rem;
}

.repo-name h6 {
		padding-left: 1.3em;
}

.repo-name:hover {
		cursor: pointer;
}

.icon-tilde {
	color: #afaeae;
}

.icon-header-star-outline {
	font-size: 1.4rem;
}

.icon-star-outline {
	font-size: 1.2rem;
	color: #565fe4;
}

/* Matrix colouring */

.readme {
		background-color: green;
}

.files {
		background-color: blue;
}

.sections {
		background-color: orange;
}

.github {
		background-color: black;
}
#matrix {
		width: 100%;
}
